---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.project_title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="header-light regular-pad">What is HILA?</h2>
        {{ content }}
      </div>
      <div class="col-md-6 text-center">
        <img src="{{ "/img/smallest-code.jpg" | relative_url }}" alt="minimum_code" width="100%" class="img-responsive">
      </div>      
    </div>

    <hr>

    <div class="row">
        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h4>{{ post.title }}</h4>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            <h5 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 80 }}</h5>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 40 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        {% endfor %}
    </div>

    <hr>

    <div class="row justify-content-md-center">
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{ "/about" | relative_url }}">Read more details about HILA and get start&rarr;</a>
        </div>
    </div>
  </div>
